<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Renault-Digital presentation web-component</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/socket.io/socket.io.js"></script>
    <script src="mobile.bundle.js"></script>
</head>
<body style="margin:0;">
<demo-mobile><span style="width: 100%; background: light-blue;">ceci est mobile de mon web-component</span></demo-mobile>


</body>
</html>